#message
	section
		textarea
			height: 225px
			transition: height .35s ease
		.message-response
			.msgBar
				padding: 10px 0
				position: relative
				z-index: 1
				margin-top:0
				opacity: 1
				transition: margin .45s ease, opacity .5s ease
				.btn
					display: inline-block
					background: $blue
					color: $snowWhite
					padding: 10px 20px
					margin-right: 10px
					&:hover
						background: $accent
				.editor
					display: inline-block
					padding-left: 10px
					border-left: 1px solid rgba(96,109,128,1)
					a
						margin-top: 5px
						padding: 5px 0 17px
						cursor: pointer
			&.min
				textarea
					height: 100px
				.msgBar
					margin-top: -51px
					z-index: -2
					opacity: 0