#newMsg
	display: none
	position: fixed
	top: 0
	left: 0
	height: 100%
	width: 100%
	z-index: 990
	background: rgba(22,22,22,.01)
	&.minified
		height: 0
	section
		width: 50%
		position: fixed
		bottom: 0
		right: 5%
		z-index: 991
		background: $snowWhite
		display: none
		box-shadow: 0 -1px 3px 0 rgba(22,22,22,.22)
		transition: width .1s ease
		&.minified
			width: 20%
			z-index: 991
			.msg-header
				p
					cursor: pointer
			.msg-body
				height: 0
				display: none
				opacity: 0
		.msg-header
			p
				background: $textBlack
				padding: 5px 15px
				color: $snowWhite
				margin: 0
				font-size: .9em
				cursor: default
				i.fa
					float: right
					margin: 3px 5px 0
					color: rgba(220,224,230,.45)
					transition: color .35s ease
					cursor: pointer
					position: relative
					z-index: 992
					&.fa-close
						margin-right: 0
					&.fa-minus
						padding-top: 4px
					&:hover
						color: rgba(220,224,230,.95)
				
		.msg-body
			display: initial
			opacity: 1
			transition: height .5s ease, opacity .5s ease
			input.form-control, textarea
				background: $snowWhite
			input.form-control
				height: 40px

		.msg-footer.message-response
			height: 100px
			.redactor_box, .redactor_box p
				height: 300px
			.btn
				margin-right: 2%
				background: rgba(43,76,126,.8)
				transition: background .5s ease
				letter-spacing: 1px
				&:hover
					background: $blue
			.redactor_toolbar
				max-width: 80%
				width: 80%
				float: left