<aside class="col-xs-12 col-sm-4 col-md-3">
	<section>
		<h3><%= user.name.full %></h3>
		<h4 class="text-muted"><%= user.username %></h4>
	</section>
	<hr>
	<section>
		<ul>
			<% if(user.type == 'client'){ %>
			<li>
				<a href="/user/case-notes"><i class="fa fa-book"></i> Case Notes</a>
			</li>
			<li>
				<a href="/user/docs"><i class="fa fa-file-o"></i> Documents</a>
			</li>
			<li>
				<a href="/user/payments"><i class="fa fa-dollar"></i> Payments</a>
			</li>
			<% }else{ %>
			<li>
				<a href="/user/messages"><i class="fa fa-envelope-o"></i> Messages</a>
			</li>
			<li>
				<a href="/admin/users"><i class="fa fa-users"></i> Users</a>
			</li>
			<% } %>
		</ul>
	</section>
	<hr>
	<section>
		<a href="/logout" class="text-danger">Logout</a>
	</section>
</aside>