<!DOCTYPE html>
<html lang="en">
	<head>	
	<!-- Title -->
		<title>Springsteen Law</title>

	<!-- CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/font-awesome-4.3.0/css/font-awesome.min.css">

	<!-- Favicon -->
		<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">

	<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Merriweather:300,400,700,900' rel='stylesheet' type='text/css'>
        
	<!-- JavaScript -->
		<script  src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="/assets/js/modernizr.custom.05501.js"></script>
		<script src="/assets/js/selectivizr-min.js"></script>
		<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div id="wrapper" class="wrapper">
			<header class="upper">
				<% if(!user.active){ %>
				<a href="/" class="logo">
					<% include logo %>
					<h1>Springsteen Law</h1>
				</a>
				<% include nav-sm %>
				<% include nav %>
				<% }else{ %>
				<a href="/user/dash" class="logo">
					<% include logo %>
					<h1>Springsteen Law</h1>
				</a>
				<a href="/logout" class="btn col-md-1 pull-right">Logout</a>
				<nav class="lg">
					<ul>
						<li><a href="/user/dash">Dashboard</a></li>
						<li class="dropdown user">
							<a href="">Springsteen Law <span class="caret"></span></a>
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/consultation">Consultation</a></li>
								<li class="practiceAreas">
									<a href="/practice-areas">Practice Areas</a>
									<ul>
										<li><a href="/dui-dwi">DUI / DWI</a></li>
										<li><a href="/first-offender">First Offender Programs</a></li>
										<li><a href="/immigration">Immigration</a></li>
										<li><a href="/expungements">Expungements</a></li>
										<li><a href="/traffic">Traffic</a></li>
									</ul>
								</li>
								<li><a href="/attorneys">Attorneys</a></li>
								<li><a href="/contact">Contact</a></li>
							</ul>
						</li>
					</ul>
				</nav>
				<% } %>
			</header>

			<%- body %>

		</div> <!-- wrapper -->
		
		<footer>
			<% include logo %>
			<section class="pull-right text-right">
				<address>
					184 Wind Chime Court, Suite 101<br>
					Raleigh, NC
				</address>
				<p><i class="fa fa-phone"></i> (919)482-8322<br><br>
				<i class="fa fa-envelope-o"></i> <a href="mailto:springsteen@springsteenlawoffice.com">springsteen@springsteenlawoffice.com</a></p>
			</section>
		</footer>

		<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Login</h4>
					</div>
					<div class="modal-body">
						<% if(message != '' && message != undefined){ %>
						<p class="loginmsg text-danger"><%= message %></p>
						<% } %>
						<form role="form" method="get" action="/login">
							<ul>
								<li class="form-group">
									<label for="login[user]">Username</label>
									<input id="login[user]" name="login[user]" type="user" class="form-control" placeholder="example@mail.com">
								</li>
								<li class="form-group">
									<label for="login[pass]">Password</label>
									<input id="login[pass]" name="login[pass]" type="password" class="form-control" placeholder="Password">
									<p class="pull-right"><a href="" class="forgot" data-toggle="modal" data-target="#forgot-modal">Forgot Password</a></p>
								</li>
							</ul>
							<button type="submit" class="btn btn-default col-xs-8 col-sm-6 col-md-4 pull-right">Login</button>
						</form>
					</div>
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="forgot-modal" tabindex="-1" role="dialog" aria-labelledby="forgot-modal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Forgot Password</h4>
						<p><small>If you provide your email we'll send you a new temporary password</small></p>
					</div>
					<div class="modal-body">
						<form role="form" method="get" action="/forgot/password">
							<ul>
								<li class="form-group">
									<label for="forgot[email]">Email</label>
									<input id="forgot[email]" name="forgot[email]" type="text" class="form-control" placeholder="example@mail.com">
								</li>
							</ul>
							<button type="submit" class="btn btn-default col-xs-8 col-sm-6 col-md-4 pull-right">Get New Password</button>
						</form>
					</div>
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

		<!-- JAVASCRIPT -->
		<script src="/assets/js/main.js"></script>

	</body>
</html>