<section id="newMsg" class="newMsg">
	<section>
		<div class="msg-header">
			<p>New Message <i class="fa fa-close"></i></p>
		</div>
		<div class="msg-body">
			<form role="form">
				<input class="form-control" type="text" name="to" placeholder="To">
				<input class="form-control" type="text" name="subject" placeholder="Subject">
				<textarea class="form-control" name="message" placeholder="Message" rows=15></textarea>
				<div class="msg-footer">
					<button type="button" class="btn btn-success col-md-3">Send</button>
					<a class="glyphicon glyphicon-font"></a>
				</div>
			</form>
		</div>
	</section>
</section>