<% layout('templates/layout') -%>

<main id="attorneys" class="attorneys col-xs-12">

	<section>
		<h2 class="text-center">We'll help you find your way</h2>
		<p>When you experience a legal matter, everything can change to say such times can be overwhelming is possibly an understatement. During such difficult moments Springsteen Law will diligently work on your case, and develop a solution for you, the client, to provide you with peace of mind during your difficult times.<br><br>
		We zealously litigate on our clients' behalf allowing you, the client, to focus on your life instead of finding yourself overwhelmed and worried about your court case.</p>
	</section>
	<section>
		<article>
			<div class="col-md-2 col-xs-3">
				<img src="/assets/images/tanja.png">
			</div>
			<div class="col-md-10 col-xs-9">
				<h3>Attorney, Tanja F. Springsteen, J.D.</h3>
				<p>Tanja found herself drawn to the legal field early in life. During high school, when working as a paralegal intern, her natural instincts of helping others who could not help themselves found an outlet, sparking the desire to acquire the tools necessary to make that happen.<br><br>
	​			While obtaining her undergraduate degree, Tanja was an intern at the Raleigh Attorney Generals Office (Sheriff Standards), where she assisted in improving the North Carolina 911-Operating system. She graduated from Campbell University  and continued her desire to put her natural instincts to work by attending North Carolina Central University School of Law,  obtaining her Law Degree. Tanja is licensed in the State of North Carolina and is proud to call Raleigh her home.<br><br>
				Her desire to assist people in legal matters on a personal level has prompted Tanja to "hang her own shingle", venturing out as a solo criminal defense attorney. She believes that though big corporate law firms have plenty to offer for big corporations, individual clients at big law firms are often confronted by a cookie-cutter legal practice that does not address the individual clients needs and this is what Tanja aims to change her approach to her clients is customized to each individual clients needs and unique legal matter. Her office is located in Raleigh and she serves Wake County and Durham County.<br><br>
				Tanja is happily married to her husband Jeff.  His unwavering support, encouragement and love, have made Tanja (in her own words) a better version of herself.<br><br>
				Tanja speaks, writes and reads German on a native level, and has basic Spanish speaking and reading abilities.​ Tanja lives by her favorite mantra: "Don't do it because you have to, do it because you can", and credits her mantra for her personal and professional success.</p>
			</div>
		</article>
	</section>
</main>