<% layout('templates/layout') -%>

<main id="consultation" class="consultation col-xs-12">
	
	<h2 class="text-center">Consultation</h2>
	<section>
		<h3>What to expect</h3>
		<p>The initial consultation is free of charge (a value of $100). During the initial consultation Attorney Springsteen will ask you several questions allowing the attorney to make a preliminary assessment of your case. Generally, consultations are conducted in the office but in some cases may be handled over the phone or at a different location (Attorney Springsteen is aware that in some cases such as DWI the potential client might not be able to currently drive).<br><br>
		Attorney Springsteen has great empathy for her clients and will treat each individual case and person with respect and dignity. Attorney Springsteen understands how stressful and frightening it can be to face potential punishment of a criminal charge and she works diligently on providing each client with the best solution for their individual case.</p>
	</section>
	<section>
		<h3>Professional Philosophy</h3>
		<p>Though, Attorney Springsteen is in the business of providing legal services, she strongly believes in the profession of law being a source of comfort during times when you are confronted with legal difficulties. Her passion for the law extends beyond your basic legal services.<br><br>
		Attorney Springsteen holds the believe that every person deserves their day in court. With her tenacious nature leaving no stone unturned she seeks out any potential defense assuring optimal case handling.<br><br>
		Her passion for the law is evidenced in her desire to go the extra mile for each client, a virtue every true trial lawyer should possess. In comparison, many lawyers often tend to to be more of the pleading-kind, meaning quick to settle a case instead of going after the system in order to build the best defense possible.<br><br>
		That each client has a choice to chose the representation he/she desires, meaning which lawyer to hire, goes without saying. There a plenty of lawyers in the Triangle willing and able to take your case. But if you want to be assured that you and your case are held in high esteem you should <strong>call Attorney Springsteen for a free consultation at 919.482.8322</strong>. Your case is just as important to Attorney Springsteen as it is to you.</p>
	</section>
</main>