<% layout('templates/layout') -%>

<main id="dui-dwi" class="dui-dwi col-xs-12">

	<section>
		<h2 class="text-center">North Carolina Law on DUI/DWI</h2>
		<p>The basic and “minimum” penalties are provided below. North Carolina refers to the offense as a DWI, unlike the majority of other states. However, North Carolina’s sentencing procedures for impaired drivers is complex  -  There are five levels - with five being the least severe - penalties for each offense and each level has distinctive factors and standards.</p>
	</section>
	<section>
		<h3>What are the penalties for a DUI/DWI in North Carolina?</h3>
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<th>Offense</th>
				<th>Minimum Jail</th>
				<th>Aggravating Factors</th>
				<th>Fines and Penalties</th>
				<th>License Suspension (*IID required)</th>
			</thead>
			<tbody>
				<tr>
					<td>1<sup>st</sup> Offense</td>
					<td>24 hours (level 5 offender)</td>
					<td>If 3 aggravated factors are present (Level 1A) min. of 12 months</td>
					<td>$200 (for level 5 offender)</td>
					<td>60 days to 1 year
						<br>
						IID not required
					</td>
				</tr>
				<tr>
					<td>2<sup>nd</sup> Offense</td>
					<td>4 days</td>
					<td>If 3 aggravated factors are present (Level 1A) min. of 12 months</td>
					<td>Ranges depending on level</td>
					<td>1 to 4 years (if previous DWI was within 3 years);
						<br>
						IID required
					</td>
				</tr>
				<tr>
					<td>3<sup>rd</sup> Offense</td>
					<td>14-30 days</td>
					<td>If 3 aggravated factors are present (Level 1A) min. of 12 months</td>
					<td>Ranges depending on level</td>
					<td>1 year to permanent (if last previous DWI was within 5 years);
						<br>
						If license restored, IID required for 7 years
					</td>
				</tr>
			</tbody>
		</table>
		<article>
			<h4>North Carolina makes use of Ignition Interlock Devices - *IIDs</h4>
			<p>What is an Ignition Interlock Device? An ignition interlock device (IID) is similar to a breathalyzer, however an IID is connected to the vehicle dashboard or other location inside the vehicle and requires that a driver breath into the device prior to starting the vehicle. If the ignition interlock device detects the blood alcohol concentration of the diver to be above the programmed limit in the ignition interlock device, then the engine of the vehicle will not start.</p>
		</article>
		<article>
			<h4>How much do you have to drink for a DUI/DWI in North Carolina?</h4>
			<p>​Alcohol content in the human body is measured via what is called blood alcohol content (BAC).</p>
			<div class="col-xs-12 col-md-6">
				<table class="table table-condensed table-hover">
					<tbody>
						<tr>
							<td>Under 21</td>
							<td>Zero Tolerance</td>
						</tr>
						<tr>
							<td>21 or Older</td>
							<td>.08 BAC</td>
						</tr>
						<tr>
							<td>Commercial</td>
							<td>.04 BAC</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p>On how many drinks it takes for a person to exceed the limits listed above depends on their gender, weight, amount of alcohol plus the time-frame in which it was consumed. The best choice is not to operate any vehicle when having consumed any amount of alcohol.</p>
		</article>
		<article>
			<h4>What if you refuse to take a chemical test in North Carolina?</h4>
			<p>North Carolina has an implied consent law. That means that if you refuse to submit to a chemical test you will be subject to a fine and automatic license suspension. Basically, this means that when you obtained a driver's license in North Carolina to with obtainting that license gave consent. If you have an out-of-state license, then your act of driving on North Carolina roads acts as your implied consent.</p>
			<table class="table table-condensed">
				<thead>
					<th>&nbsp;</th>
					<th>1<sup>st</sup> Offense</th>
					<th>2<sup>nd</sup> Offense</th>
					<th>3<sup>rd</sup> Offense</th>
				</thead>
				<tbody>
					<tr>
						<td>Refusal to take test</td>
						<td>1 year license suspension</td>
						<td>No statutory provisions</td>
						<td>No statutory provisions</td>
					</tr>
				</tbody>
			</table>
		</article>
		<article>
			<h4>Aggravating/Mitigating Factors</h4>
			<p>NC DWI Aggravating and Mitigating Factors Aggravating and mitigating factors are the other two "Factors" involved in determining DWI punishment in North Carolina. 
			<br><br>
			Assuming there are no "Grossly Aggravating Factors" involved a judge is left to weigh the aggravating and mitigating factors to determine the fate of the convicted.
			<br><br>
			​Aggravating Factors - Blood Alcohol Level of .15 or Above, Reckless Driving / Accident, Driver License Revoked, Prior Convictions for DWI, Speeding While Attempting to Elude Officers, Speeding 30 MPH Over the Legal Limit, Passing A School Bus Illegally.
			<br><br>
			Mitigating Factors - Slight Impairment where test was unavailable, Safe Driving Record, Alcohol Concentration Did not Exceed .09, Driving Lawfully (except for impairment) at time of Offense, Impaired by Prescribed Dosage of Legal Medication, Voluntary Submission to Mental Heath Facility for Assessment.</p>
		</article>
		<article>
			<h4>NC Department of Transportation Fines</h4>
			<p>There are applicable fines assessed by the DOT on drivers who have been convicted of "driving while impaired".  Those fines are separate from court cost, attorney fees and other costs. For updated information regarding such fines see <a target="_blank" href="http://www.ncga.state.nc.us">www.ncga.state.nc.us</a></p>
		</article>
		<p class="disclaimer text-muted"><small><span class="text-danger">Disclaimer</span>: We try to keep the information provided here up to date. However, laws often change, as do their interpretation and application. Different jurisdictions within a state may enforce the laws in different ways. For that reason, we recommended that you seek the advice of a local attorney familiar with DUI/DWI cases in your area.</small></p>
	</section>
</main>