<% layout('templates/layout') -%>

<main id="first-offender" class="first-offender col-xs-12">

	<section>
		<h2 class="text-center">First Offender Programs in North Carolina</h2>
		<p>First Offender programs, Diversion Programs, and Deferred Prosecution Agreements (in NC criminal cases), are available when a charged person meets certain criteria.  Those programs are available to DUI/DWI charges, drug charges, and others charges.</p>
	</section>
	<section>
		<article>
			<h3>Will I be eligible for any of this programs?</h3>
			<ul>
				<li>The first requirement for basically all these programs is, that you must be a "first-time" offender.</li>
				<li>Any prior convictions or previous attendance and completion of any of the programs makes you ineligible.</li>
				<li>There is an exception for drug diversion cases -
					<ul>
						<li>If you did a First Offender Program for a non drug charge prior to the current charge, the state may allow you to do a drug diversion program.</li>
						<li>That will be up to your attorney and the district attorney on the case to negotiate the best deal for you.</li>
					</ul>
				</li>
			</ul>
		</article>
		<article>
			<h3>First Offender Programs</h3>
			<p>If you are eligible for the program, the second step for the program that you will be required to complete are:</p>
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<table class="table table-condensed">
					<thead>
						<th>Misdemeanor</th>
						<th>Felony</th>
					</thead>
					<tbody>
						<tr>
							<td>75 hours of community service, plus</td>
							<td>255 hours of community service, plus</td>
						</tr>
						<tr>
							<td>Stay our of trouble (legally and personally) for six (6) months.</td>
							<td>Stay out of trouble (legally and personally) for one (1) full year.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
		<article>
			<h3>Deferred Prosecution Agreement</h3>
			<p>Differs from the first offender program as it usually entails components of treatment in conjunction of community service:</p>
			<ul>
				<li>Community service, plus</li>
				<li>Treatment</li>
			</ul>
		</article>
		<article>
			<h3>Drug Diversion Program</h3>
			<p>Only for first time drug related charges, and the requirements are:</p>
			<ul>
				<li>Requires participation in a certain number of treatment session, or</li>
				<li>treatment hours, as well as</li>
				<li>(it may) require community service.</li>
			</ul>
			<p>Regardless of the above requirements, this program "requires" random drug testing during the time the program is attended. </p>
		</article>
		<article>
			<h3>Additional Information (Expungement)</h3>
			<p>Successful completion of any of the above programs does create eligibility for expungement of the record. There are a few exceptions:</p>
			<ul>
				<li>Wake County Rule regarding Assault Cases dismissed through the deferred prosecution agreement are "not" eligible for expungement, however</li>
				<li>A good and diligent attorney can negotiate on your behalf, requesting an expungement, even in exception cases.</li>
			</ul>
		</article>
		<article>
			<h3>Adult and Jevenile Criminal Matters</h3>
			<p>Springsteen Law handles both, juvenile and adult DUI/DWI charges, as well as Adult or Juvenile minor drug offenses</p>
		</article>
		<p class="disclaimer text-muted"><small><span class="text-danger">Disclaimer</span>: While Springsteen Law works diligently and hard to achieve the best possible results in each and every case, no outcome can be guaranteed, as well as any past results do not dictate or guarantee future results. EVERY case is unique.  The information on this website is not considered legal advice, contact an attorney for legal advice about your specific case.</small></p>
	</section>
</main>