<% layout('templates/layout') -%>

<main id="landing" class="landing">

	<section>
		<img class="hidden-xs" src="/assets/images/lady_justice.png">
		<article class="col-md-5 col-sm-6 col-xs-12 pull-right text-center">
			<h2>For a free consultation<br>
				Contact us 24/7</h2>
			<h3>Phone: (919) 482-8322<br>
				Email: <a href="mailto:springsteen@springsteenlawoffice.com">springsteen@springsteenlawoffice.com</a></h3>
		</article>
	</section>
	<section class="text-center">
		<article class="col-xs-12">
			<div class="col-xs-5">
				<h2>Overwhelmed by legal troubles?</h2>
				<p>The legal system can intimidate and overwhelm anyone. Don't let yourself get buried in the details, we're here to help find the answers and create the solution you need.</p>
			</div>
			<div class="col-xs-7">
				<img src="/assets/images/cuffs.png">
			</div>
		</article>
		<article class="col-xs-12">
			<div class="col-xs-7">
				<img src="/assets/images/gavel_scales.png">
			</div>
			<div class="col-xs-5">
				<h2>Why us?</h2>
				<h3>Don't become just another faceless client<br>
					Receive the personal attention you deserve.</h3>
				<p>Attorney Springsteen is a caring solo lawyer who will work diligently for your individual case to give you peace of mind during your difficult times.</p>
			</div>
		</article>
	</section>
	<section class="text-center">
		<h1>Call <em>today</em> for a free consultation</h1>
		<h2>(919)482-8322</h2>
	</section>
	
</main>