<% layout('templates/layout') -%>

<main id="practice-areas" class="practice-areas col-xs-12">

	<section>
		<h2 class="text-center">Practice Areas Covered</h2>
		<p>Springsteen Law is a General Practice Law Firm, however, the firm focuses on certain areas of the law  (as you can see below). Please do not hesitate to contact Attorney Springsteen if you happen to be dealing with an area of law not listed below - if we do not cover the legal field that you are seeking assistance with - the attorney will gladly steer you in the right direction.
		<br><br>
		At Springsteen Law the aim is to turn the battlefield of legal matters into peace of mind for you. If you are seeking detailed information regarding an area of law listed you may follow the links on the navigation bar  above for more information or contact us at (919)482-8332 or via email - springsteen@springsteenlawoffice.com.</p>
	</section>
	<section>
		<article>
			<h3>Criminal Law</h3>
			<ul>
				<li>DUI/DWI - Defense</li>
				<li>Speeding Tickets and other traffic related matters</li>
				<li>Minor Drug Offenses</li>
				<li>DWLR - Driving While License Revoked</li>
				<li>Underage DWI</li>
			</ul>
		</article>
		<article>
			<h3>Immigration Law</h3>
			<ul>
				<li>Resident alien card applications</li>
				<li>From greencard to citizenship</li>
				<li>Family based immigration</li>
				<li>Relatives of citizens</li>
				<li>Relatives of resident aliens</li>
				<li>Visas</li>
				<li>Deportation matters</li>
				<li>Other</li>
			</ul>
		</article>
		<article>
			<h3>Expungements</h3>
			<ul>
				<li>Civil and criminal records</li>
				<li>More to come soon (for more information call us at (919)482-8332)</li>
			</ul>
		</article>
	</section>
</main>