<% layout('templates/layout') -%>

<main id="traffic" class="traffic col-xs-12">

	<section>
		<h2 class="text-center">North Carolina Driving Privilege</h2>
		<p>Yes, you have read correctly, driving in North Carolina (as in most states) is a privilege and not a right. There are traffic rules and laws that go along with that privilege and violations of such rules or laws can result in a conviction of a moving or non-moving violation - and that conviction - may lead to a suspension of your driving privilege, jail and/or an increase in your car insurance premium.  If you received a ticket that places you in danger of loosing your license or facing jail or an increase in insurance premium, call Attorney Springsteen for a free consultation - at 919.482.8322 - before you get convicted.</p>
	</section>
	<section>
		<article>
			<h3>Moving Violations and The North Carolina Department of Motor Vehicles (NCDMV)</h3>
			<p>According to the NCDMV, a NC Driver, who is convicted of certain moving violations will have points* added to their driving record.
			<br><br>
			The magic number concerning DMV points is 12. If you have 12 points on your license within 3-year period your license will be revoked. If you accumulate 7 points, the DMV has the discretion to require you to attend a driver improvement clinic (fee of $50.00), once completed 3 points are deducted from your record.
			<br><br>
			The length of a driver’s license suspension depends on the reason for which it was suspended. Common causes for suspension are listed below:</p>
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<table class="table table-striped table-hover">
					<thead>
						<th>Conviction</th>
						<th>Consequence</th>
						<th>Note</th>
					</thead>
					<tfoot>
						<tr>
							<td colspan="3" class="text-muted"><small>*DMV recorded convictions affect your car insurance.</small></td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td>Speeding at least 15 MPH over the limit of 55 MPH</td>
							<td>30 days suspension</td>
							<td>Fees apply</td>
						</tr>
						<tr>
							<td>Speeding at least 15 MPH over the limit of 55 MPH - Second Offense</td>
							<td>60 days suspension</td>
							<td>Fees apply</td>
						</tr>
						<tr>
							<td>Speeding at least 15 MPH over the limit of 55 MPH while avoiding arrest</td>
							<td>1 year suspension</td>
							<td>Fees apply</td>
						</tr>
						<tr>
							<td>Speeding and driving recklessly</td>
							<td>60 days suspension</td>
							<td>Fees apply</td>
						</tr>
						<tr>
							<td>Two (2) charges of driving recklessly in 12 months</td>
							<td>1 year suspension</td>
							<td>Fees apply</td>
						</tr>
						<tr>
							<td>Intentionally racing another vehicle</td>
							<td>3 years suspension</td>
							<td>Fees apply</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
		<article>
			<h3>Conviction Point Value</h3>
			<p>​The DMV applies a point value system to each conviction, which can lead to your license being suspended. NC General Statute 20-16 has a detailed list of point values. The chart below shows the most common violations and point value associated with it:</p>
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<th>Conviction</th>
						<th>DMV Points</th>
					</thead>
					<tbody>
						<tr>
							<td>Passing stopped school bus</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Aggressive driving</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Reckless driving</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Hit and run, property damage only</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Following to closely</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Driving on the wrong side of the road</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Illegal passing</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Failure to yield right of way to pedestrian</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Failure to yield right of way to bicycle, scooter, motorcycle</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Running stop sign</td>
							<td>3</td>
						</tr>
						<tr>
							<td>Speeding in excess of 55 MPH</td>
							<td>3</td>
						</tr>
						<tr>
							<td>Failure to yield right of way to a car</td>
							<td>3</td>
						</tr>
						<tr>
							<td>No drivers license</td>
							<td>3</td>
						</tr>
						<tr>
							<td>License expired more than one year</td>
							<td>3</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
		<article>
			<h3>Insurance Points</h3>
			<p>Insurance points are different from DMV points as they have nothing to do with your driving privilege but with your insurance rates and your overall insurability.  Under the North Carolina Safe Driver Incentive Plan (SDIP) higher premiums will be charged to drivers convicted of moving violations (based on records provided by the DMV*). The chart below lists common violations/convictions and its insurance point value (those are not the same as DMV points, insurance companies assign their own point value system based on your conviction):</p>
			<div class="col-xs-12 col-sm-10 col-sm-offset-1">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<th>Conviction</th>
						<th>Insurance Points</th>
						<th>Increase in Cost</th>
					</thead>
					<tfoot>
						<tr>
							<td colspan="3" class="text-muted"><small>*Upon being convicted of a moving violation (or other DMV offense) the DMV automatically notifies your insurance of such violation/conviction.</small></td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td>Driving while impaired (DWI);<br>
								Prearranged highway speeding.</td>
							<td>12</td>
							<td>340&#37;</td>
						</tr>
						<tr>
							<td>Highway racing;<br>
								Speeding to elude arrest.</td>
							<td>10</td>
							<td>260&#37;</td>
						</tr>
						<tr>
							<td>Driving during revocation or suspension of license or registration;<br>
								Aggressive driving.</td>
							<td>8</td>
							<td>195&#37;</td>
						</tr>
						<tr>
							<td>Reckless driving;<br>
								Hit and Run with property damage;<br>
								Passing stopped school bus.</td>
							<td>4</td>
							<td>80&#37;</td>
						</tr>
						<tr>
							<td>Speeding:<br>
								In excess of 75 mph when the speed limit is less than 70 mph;<br>
								In excess of 80 mph when the speed limit is 70 mph or greater.</td>
							<td>4</td>
							<td>80&#37;</td>
						</tr>
						<tr>
							<td>Driving by a person under age of 21 after consuming alcohol or drugs.</td>
							<td>4</td>
							<td>80&#37;</td>
						</tr>
						<tr>
							<td>At-fault accident resulting in death or total bodily injury.</td>
							<td>3</td>
							<td>60&#37;</td>
						</tr>
						<tr>
							<td>Illegal passing;<br>
								Following too closely;<br>
								Driving on wrong side of road.</td>
							<td>2</td>
							<td>45&#37;</td>
						</tr>
						<tr>
							<td>Speeding:<br>
								More than 10 mph over the speed limit provided total speed is in excess of 55 mph, but less tan 76 mph;<br>
								10 mph ot ess in excess of speed zone of 55 mph or greater.</td>
							<td>2</td>
							<td>45&#37;</td>
						</tr>
						<tr>
							<td>All other moving violations and speeding 10 mph or less in excess of speed limit of less than 55 mph.</td>
							<td>1</td>
							<td>30&#37;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
	</section>

</main>