<% layout('../templates/layout') -%>

<main id="dash" class="dash col-xs-12">
	
	<% include ../templates/dash-nav %>
	
	<section class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">
		<section class="caseNotes">
			<h2>Case Notes</h2>
			<div>
				<article>
					<h3>Note Name</h3>
					<h4 class="text-muted">March 9, 2015</h4>
					<p>Once covered code under the terms of this section is intended to describe, in plain English, the nature of the modifications made to Python. PSF is making the claim in sufficient detail that a recipient will know whom to contact. If you make any Modifications that you distribute or publish, that in whole or in the case where a user would be likely to look for such a way shall still be relevant, and authors intending to distribute the Larger Work as distributed under this License and the rights granted by You or any part of the LaTeX Project Public License from time to time revised and/or new versions of the Contribution. No hardware per se is licensed hereunder.</p>
				</article>
				<article>
					<h3>Note Name</h3>
					<h4 class="text-muted">March 9, 2015</h4>
					<p>Once covered code under the terms of this section is intended to describe, in plain English, the nature of the modifications made to Python. PSF is making the claim in sufficient detail that a recipient will know whom to contact. If you make any Modifications that you distribute or publish, that in whole or in the case where a user would be likely to look for such a way shall still be relevant, and authors intending to distribute the Larger Work as distributed under this License and the rights granted by You or any part of the LaTeX Project Public License from time to time revised and/or new versions of the Contribution. No hardware per se is licensed hereunder.</p>
				</article>
				<article>
					<h3>Note Name</h3>
					<h4 class="text-muted">March 9, 2015</h4>
					<p>Once covered code under the terms of this section is intended to describe, in plain English, the nature of the modifications made to Python. PSF is making the claim in sufficient detail that a recipient will know whom to contact. If you make any Modifications that you distribute or publish, that in whole or in the case where a user would be likely to look for such a way shall still be relevant, and authors intending to distribute the Larger Work as distributed under this License and the rights granted by You or any part of the LaTeX Project Public License from time to time revised and/or new versions of the Contribution. No hardware per se is licensed hereunder.</p>
				</article>
				<article>
					<h3>Note Name</h3>
					<h4 class="text-muted">March 9, 2015</h4>
					<p>Once covered code under the terms of this section is intended to describe, in plain English, the nature of the modifications made to Python. PSF is making the claim in sufficient detail that a recipient will know whom to contact. If you make any Modifications that you distribute or publish, that in whole or in the case where a user would be likely to look for such a way shall still be relevant, and authors intending to distribute the Larger Work as distributed under this License and the rights granted by You or any part of the LaTeX Project Public License from time to time revised and/or new versions of the Contribution. No hardware per se is licensed hereunder.</p>
				</article>
			</div>
			<a href="/user/case-notes" class="pull-right">See More</a>
		</section>
		<section class="documents">
			<h2>Documents</h2>
			<div>
				<p class="preview-default text-center">You have no documents</p>
			</div>
			<a href="/user/docs" class="pull-right">See More</a>
		</section>
		<section class="payments">
			<h2>Payments</h2>
			<div>
				<p class="preview-default text-center">You have no payments</p>
			</div>
			<a href="/user/payments" class="pull-right">See More</a>
		</section>
	</section>

</main>