<% layout('../templates/layout') -%>

<main id="message" class="message col-xs-12">
	
	<% include ../templates/dash-nav %>

	<section class="message col-xs-12 col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">

		<div class="message-header">
			<h2><%= msgObj.subject %></h2>
			<p><strong><%= msgObj.from %></strong> <span class="dateTime pull-right text-muted"><%= msgObj.sent %></span></p>
			<hr>
		</div>
		<div class="message-body col-xs-12">
			<p><%= msgObj.message %></p>
		</div>

		<form class="message-response min">
			<textarea class="redactor form-control" placeholder="Click to Reply"></textarea>
			<div class="msgBar">
				<button class="btn col-md-2" type="button">Send</button>
			</div>
		</form>

	</section>

</main>